/exercises/dist/
/exercises/build/
/lectures/Generics/nbproject/private/
/lectures/Generics/build/
/lectures/AdvancedJava/nbproject/private/
/lectures/AdvancedJava/build/
/lectures/Threads/nbproject/private/
/lectures/Threads/build/
/lectures/AdvancedJava/dist/